name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up JDK 16
        uses: actions/setup-java@v1
        with:
          java-version: '16'
      - name: Gradle build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: build --no-daemon
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
      - name: Remove sources JAR
        run: |
          find -type f -path './build/libs/*' -name '*sources*' -delete
      - uses: actions/upload-artifact@v2
        with:
          path: build/libs/*
